@import '../scss/color';

.boostGauge {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .gauge {
    width: var(--current-value);
    height: 24px;
    background-color: lighten($orange, 15%);
    border-radius: 4px;
    border: solid 3px white;

    display: flex;
    flex-direction: column;
  }

  .number {
    color: white;
    font-size: 1.5vw;
  }
}
